:root {
  --primary-color: #41b9b4;
  --secondary-color: #92bbb5;
  --accent-color: #f4f8f9;
  --bg-gradient: linear-gradient(to top, #c5e1eb, #d1e7ed, #ddedf0, #eaf3f4, #f7f9f9);
  --text-color: #898989;
  --text-light-color: #dad3d3;
  --white-color: #fff;
  --success-color: #63b98a;
  --failure-color: #ea8181;
  --border-color: #dad3d3;
  --hover-color: #41b9b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;  
}

.user-type {
  font-size: 16px;
}
.lite-grey {
  color: var(--text-color);
}
.topic {
  font-weight: bold;
  letter-spacing: 1px;
  position: absolute;
  width: 40%;
  left: 20%;
  color: var(--text-color);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: var(--bg-gradient)
}
.nav-bar {
  background-color: #fdfdfd;
  width: 15%;
  min-width: 4.5%;
  transition: all 0.5s ease-in;
}
.bxs-chevron-left,
.bxs-chevron-right {
  position: absolute;
  top: 25px;
  right: -15px;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 50%;
  font-size: 20px;
  color: #fdfdfd;
  cursor: pointer;
}
ul {
  list-style: none;
}
ul li {
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--text-color);
  text-transform: uppercase;
  margin: 45px 0;
  position: relative;
  cursor: pointer;

}
.main-menu,
.logouy-menu {
  overflow: hidden;
}
.active-menu:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 42px;
  background-color: var(--primary-color);
  border-radius: 4px;
  right: 0;
  top: -8px;
}
.status-badge-success {
  background-color:#BDFAF0;
  color: var(--success-color);
  border-radius: 9px;
  padding: 3px 15px;
}
.status-badge-failure {
  background-color: #e9bebd;
  color: var(--failure-color);
  border-radius: 9px;
  padding: 3px 15px;
}
strong {
  font-size: 18px;
}
.search-input {
  position: relative;
}
.bxs-bell-ring {
  font-size: 20px;
}
.bx-search-alt {
  position: absolute;
  top: 17px;
  left: 30px;
}
.bx-home-alt {
  font-size: 26px;
  color: var(--primary-color);
}
.bx-spreadsheet {
  font-size: 26px;
  color: var(--text-light-color);
}
.bx-edit-alt {
  font-size: 26px;
  color: var(--primary-color);
  color: var(--text-light-color);
}
.bx-badge-check {
  font-size: 26px;
  color: var(--primary-color);
  color: var(--text-light-color);
}
.bx-log-out-circle {
  font-size: 26px;
  color: var(--primary-color);
  color: var(--text-light-color);
}

.bx-cog{
  font-size: 23px;
  position: relative;
}

.themes{
  position: relative;
}

.color-options{
  position: absolute;
  width: 300px;
  background-color:#fdfdfd;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  z-index:4;
  right: 0;
  border-radius: 4px;
  padding: 20px 20px;
}

input[type ="color"]{
  outline:none;
  border: none;
  border:2px solid #c5c5c5;
  width: 100px;
  height: 30px;
  border-radius: 7px
}

.colorpick-eyedropper-input-trigger{
display: none;
}
.bx-x,
.bx-check-rounded {
  position: absolute;
  top: 14px;
  right: 19px;
  font-size: 20px;
}
 
.search {
  outline: none;
  border: 2px solid var(--text-light-color);
  border-radius: 10px;
  padding: 10px 30px 10px 40px;
  width: 500px;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.lite-blue {
  color: var(--secondary-color);
}

.main-layout {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  border-radius: 7px;
  padding: 25px;
}
.table-header {
  background-color: #f6f6f6;
  border-radius: 5px;
}

.admin-image {
  border-radius: 20%;
  z-index: 2;
}

.main-container {
  height: 100vh;
  flex-grow: 1;
  display: grid;
  grid-template-rows: 10% 90%;
  padding: 0 25px 25px 25px;
}
.page{
  display: none;
}
.page-view{
  display: block;
}



.container .header {
  display: flex;
  justify-content: space-between;
}

.add-client-btn {
  position: relative;
  background-color: white;
  border: 1.5px solid var(--text-light-color);
  color: var(--text-light-color);
  padding: 10px 16px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
}
.add-client-btn:hover {
  border: 1.5px solid var(--primary-color);
  color: var(--primary-color);
}

.fa-filter,.fa-plus{
color: var(--text-light-color);

}

.add-client-btn:hover .fa-filter,
.add-client-btn:hover .fa-plus {
  animation-name: tada;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: all 0.3s;
  color: var(--primary-color);
}

@keyframes tada {
  form {
    transform: rotate(10%);
  }
  to {
    transform: rotate(40%);
  }
}

.list-table {
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
}

.list-table tbody {
  color: var(--text-color);
  height: 100px;
}
.list-table thead {
  top: 0px;
  position: sticky;
  z-index: 2;
}
.list-table thead th {
  padding: 10px 15px;
}
.list-table thead tr th:first-child,
.list-table thead tr th:last-child {
  border-radius: 4px;
}
.list-table thead tr {
  background-color: var(--accent-color);
  text-transform: uppercase;
}
.list-table tbody td {
  padding: 20px 15px;
}

.list-table tbody tr {
  border-bottom: 2px solid #f9f9f9 !important;
}

.bage {
  border-radius: 20px;
  background-color: #f1f1f1;
  border: 2px solid #616161;
  padding: 3px 10px;
}
.bage-secondary {
  color: purple;
}

.manage-btn {
  min-width: 100px;
  height: 35px;
  color: var(--white-color);
  padding: 6px 14px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 1;
  background: var(--white-color);
  overflow: hidden;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.manage-btn:hover {
  color: var(--white-color);
}
.manage-btn:hover:after {
  width: 100%;
}
.manage-btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--primary-color);
}

.main-table {
  overflow-y: auto;
  height: 700px;
  scroll-behavior: smooth;
}
.g-scroll::-webkit-scrollbar-track-piece{
  margin: 40px 0 0;
}

.g-scroll::-webkit-scrollbar {
  width: 7px;
}
.g-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--text-light-color);
}

.visible{
  visibility: visible;
}

.outline-btn{
  background-color: white;
  padding: 6px 18px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.button-upper-hover {
  position: absolute;
  background: var(--primary-color);
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: animate 1s linear infinite;
  border-radius: 50%;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.7;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}


.pop-inside {
  position: absolute;
  width: 450px;
  height: 250px;
  top: 35%;
  left: 40%;
  background-color:whitesmoke;
  border-radius: 3px;
  opacity: 1;
}
.client-create-btn {
  min-width: 100px;
  height: 35px;
  color: var(--white-color);
  padding: 6px 14px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  background-color: var(--primary-color);
  letter-spacing: 1px;
  border: none;
  border-radius: 4px;
}
.client-card label {
  font-size: 14px;
}

#add-client-popup input {
  width: 400px;
  outline: none;
  border: none;
  border-bottom: 2px solid #d6d6d6;
  padding: 10px 0px;
  background-color:whitesmoke;
}

.manage-layout{
  display: none;
}

.bx-check-rounded,
.bx-check-rounded-green {
  color: rgb(32, 201, 32);
  border-radius: 50%;
}

#features i {
  font-size: 20px;
}



input[type="checkbox"] {
  display: none;
}

label {
  position: relative;
  padding-left: 30px; 
  cursor: pointer;
}

label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid var(--text-light-color);
  border-radius: 4px;
  background-color: var(--white-color);
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked + label::before {
  border-color: var(--primary-color);
}

input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  color: white;
  font-size: 16px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjNTdjN2JlIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center center;
}

#add-client-popup{
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  backdrop-filter: invert(30%);
  opacity:1;
  z-index: 998;
}

#loaders {
  display: none;
  z-index: 300;
  width: 100%;
  height: 100vh;
  background: var(--text-light-color);
  opacity: 0.4;
  position: absolute;
}

.inner-loader{
  position: absolute;
  top: 50%;
  left: 50%;
}
.loader {
  width: 35px;
  aspect-ratio: 1.154;
  position: relative;
  background: conic-gradient(
    from 120deg at 50% 64%,
    #0000,
    #25b09b 1deg 120deg,
    #0000 121deg
  );
  animation: l27-0 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  transform-origin: 50% 66%;
  animation: l27-1 1.5s infinite;
}
.loader:after {
  --s: -1;
}
@keyframes l27-0 {
  0%,
  30% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(120deg);
  }
  70.01%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes l27-1 {
  0% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
  30%,
  70% {
    transform: rotate(calc(var(--s, 1) * 120deg))
      translate(calc(var(--s, 1) * -5px), 10px);
  }
  100% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
}


.tabs{
  display: flex;
  justify-content:start;
  align-items: center;
  border-bottom: 2.5px solid var(--text-light-color);
  position: relative;
  z-index: 1;
  width: 100%;
}
.tabs button {
  width: 13.3333%;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 0;
  color:var(--text-color);
  cursor: pointer;
}

.tabs .active{
  position: absolute;
  height: calc(100% - 10px);
  width: calc(13.3333% - 10px);
  border-bottom:2.5px solid var(--primary-color);
  top: 12px;
  left: 0;
  transition: left 0.3s ease-in-out; 
  border-radius:inherit;
  z-index: 2;
}

.tab-content{
  height: 800px;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}
.label-manage-table tbody, td, tfoot, th, thead, tr{
  border-style: none !important;
}

/* .label-manage-table tbody tr td input{
  border: none !important;
  outline:none ;
  border-bottom :2px solid var(--text-light-color) !important;
  margin: 7px 0;
} */

.bx-transfer{
  font-size: 20px;
  color:var(--text-light-color);
}


/* Hide the default file input */
input[type="file"].basic-input-check {
  display: none;
}

/* Style the custom label to look like a button */
.custom-file-label {
  display: inline-block;
  padding: 0px 12px;
  /* background-color: #007bff; */
  border: 2px solid var(--text-light-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Lite grey styling for the div */
.lite-grey {
  color: #a8a8a8;
}


.number-input{
  outline: none;
  border: 2px solid #dad3d3;
  border-radius: 4px;
  padding: 2px 10px;
  width: 75px;
}



.profile-image{
  width: 21px;
  height: 21px;
  border-radius: 50%;
}